.TaskRowIcon {
	-fx-background-image: url('./catbulletblack.png');
	-fx-background-color: transparent; 
}
.TaskRowText {
    -fx-font-family: "Sen ExtraBold";
    -fx-text-fill: #FF9933;
    -fx-font-size: 16pt;	
	-fx-background-color: transparent; 
}
.catButton {
	-fx-background-image: url('./CLI_button.png');
	-fx-background-color: transparent; 
}
.catButton:hover {
	-fx-background-image: url('./CLI_button_hover.png');
	-fx-background-color: transparent; 
}
.catButton:pressed {
	-fx-background-image: url('./CLI_button_click.png');
	-fx-background-color: transparent; 
}
.check {
	-fx-background-image: url('./greentick.png');
	-fx-background-color: transparent; 
}
.katHeaderImage {
	-fx-background-image: url('./Kat.png');
	-fx-background-color: transparent; 
}
.katImage {
	-fx-background-image: url('./bigKat.png');
	-fx-background-color: transparent; 
	-fx-background-size: cover;
    -fx-background-repeat: stretch;   
}
.katBG {
	-fx-background-image: url('./KatNoteBG.png');
	-fx-background-color: transparent; 
    -fx-background-repeat: stretch;   
    -fx-background-size: 600 441;
}
.TaskRowDateText {
    -fx-font-family: "Sen Bold";
    -fx-text-fill: #FF9933;
    -fx-font-size: 12pt;	
	-fx-background-color: transparent; 
}
.TaskGroupHeaderText {
    -fx-font-family: "Sen ExtraBold";
    -fx-text-fill: #EE7833;
    -fx-font-size: 18pt;	
	-fx-background-color: transparent; 
}
.title {
    -fx-font-family: "Sen ExtraBold";
    -fx-text-fill: #FF9933;
    -fx-font-size: 24pt;
	-fx-background-color: transparent; 
}
.splashHeader {
    -fx-font-family: "Sen ExtraBold";
    -fx-text-fill: #FF9933;
    -fx-font-size: 36pt;
	-fx-background-color: transparent; 
}
.splashText {
    -fx-font-family: "Sen ExtraBold";
    -fx-text-fill: #FF9933;
    -fx-font-size: 14pt;
	-fx-background-color: transparent; 
}
.scroll-pane > .viewport  {
    -fx-background-color:transparent;
}