.TaskRowIcon {
	-fx-background-image: url('./catbulletblack.png');
}
.TaskRowText {
    -fx-font-family: "Frankfurter Medium Plain";
    -fx-text-fill: #FF9933;
    -fx-font-size: 18pt;	
}
.TaskGroupHeaderText {
    -fx-font-family: "Frankfurter Medium Plain";
    -fx-text-fill: #FF9933;
    -fx-font-size: 20pt;	
}
.title1 {
    -fx-font-family: "Frankfurter Medium Plain";
    -fx-text-fill: #FF9933;
    -fx-font-size: 24pt;
}